*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
 
};

body {
   background-image: '../images.laptop.jpg';
};

 table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
} 

.datePicker {
  margin: 50px;
  display: flex;
  justify-content: center center;
}

.dates-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 8px;
}

.day-container {
  text-align: center;
  padding: 4px;
}

.month-row {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  text-align: center;
  font-weight: bold;
  margin-bottom: 4px;
}

.arrow {
  display: flex;
  justify-self: center;
  align-self: center;
}

.date-indicator {
  text-align: center;
}

.selected {
  color: #efefff;
  background-color: #4e4da6;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
